{% extends 'layout/layout.htm' %}

{% block title %}
Settings
{% endblock %}

{% block head_scripts %}
<script src="{{ url_for('static', filename='javascript/extras/lc_switch.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="custom-card">
            <div class="custom-card-body">
                <div class="row">
                    <div class="col-2">
                        <b>Dark Mode</b>
                    </div>
                    <div class="col" style="text-align: right;">
                        <input type="checkbox" id="checkbox-theme">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body_scripts %}
<script>
    let element = document.querySelector("#checkbox-theme");

    lc_switch(element);

    let currentTheme = '{{appTheme}}';
    if (currentTheme == null || currentTheme == "dark") {
        lcs_on(element);
    }
    else {
        lcs_off(element);
    }

    element.addEventListener('lcs-statuschange', (e) => {
        let newThemeValue = document.getElementById("checkbox-theme").checked ? "dark" : "light";

        const d = new Date();
        d.setTime(d.getTime() + (30 * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = "app-theme" + "=" + newThemeValue + ";" + expires + ";path=/";

        localStorage.setItem("current-theme", newThemeValue);

        location.reload();
    })
</script>
{% endblock %}