<html>

<head>
    <title>
        {% block title %} {% endblock %}
    </title>
    {% include 'utilities/headers/header.htm' %}

    {% block stylesheet %} {% endblock %}
    {% block head_scripts %} {% endblock %}

</head>

<body>
    <div id="top"></div>
    {% include 'utilities/top-announcement/top-announcement.htm' %}
    {% include 'utilities/top-navigation/top-navigation.htm' %}

    {% block content %}

    {% endblock %}

    {% include 'utilities/footers/footer.htm' %}

    {% include 'utilities/scroll-to-top/scroll-to-top.htm' %}

    <script>
        $(function () {
            //$('select').selectpicker();
        });
    </script>
    {% block body_scripts %} {% endblock %}
</body>

</html>