<html>

<head>
    <title>
        {% block title %} {% endblock %}
    </title>
    {% include 'utilities/headers/header.htm' %}

    {% block stylesheet %} {% endblock %}
    {% block top_scripts %} {% endblock %}

</head>

<body>
    <div id="top"></div>
    {% include 'utilities/top-navigation/top-navigation.htm' %}

    {% block content %}

    {% endblock %}

    {% include 'utilities/footers/footer.htm' %}

    {% include 'utilities/scroll-to-top/scroll-to-top.htm' %}

    {% block bottom_scripts %} {% endblock %}
</body>

</html>