<div class="container-fluid footer-wrapper" style="margin-top: var(--padding-extra-large);">
    <div class="condition-wrapper">
        <div class="row" style="padding: var(--padding-large);">
            <div class="col-sm">
                <div class="row">
                    <div class="col" style="font-size: 36px;color: var(--color-accent);">
                        <span id="footer-appname-text"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="text-align: center;">
                <div class="row">
                    <div class="col-sm"><img src="{{url_for('static', filename='images/app_store.png')}}"></div>
                    <div class="col-sm"><img src="{{url_for('static', filename='images/play_store.png')}}"></div>
                </div>
            </div>
        </div>
        <div class="row"
            style="text-align: center;margin-top: var(--padding-extra-large);background-color: rgba(0, 0, 0, 0.25);padding: var(--padding-medium);font-weight: 700;">
            <div class="col-sm">Disclaimer</div>
            <div class="col-sm">Privacy Policy</div>
            <div class="col-sm">Faq</div>
            <div class="col-sm">T&C</div>
            <div class="col-sm">Feedback</div>
        </div>
    </div>
    <div class="row copyright-wrapper">
        <div class="col">
            All Rights Reserved. Copyright &copy; Legends Food Corner Ltd.
        </div>
    </div>
</div>

<script>
    document.getElementById("footer-appname-text").innerHTML = CONSTANTS.APP_NAME.FULL_NAME;
</script>


<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>