<div class="modal fade modal-offer-of-day" id="modal-offer-of-day" data-backdrop="static" data-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index: 600;">
        <div class="modal-content custom-card">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>