:root {
    --color-primary: #fc8019;
    --color-secondary: #fff;
    --color-background: #fff;
    --color-surface: #000;
    --color-success: green;
    --color-error: red;
    --color-alert: orange;
    --color-grey: #777;
    --color-disabled: #d3d3d3;

    --padding-small: 6px;
    --padding-medium: 12px;
    --padding-large: 16px;
    --padding-extra-large: 24px;

    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: var(--color-background);
    overflow-x: hidden;
}

.top-announcement-wrapper {
    padding: 12px;
    font-weight: 600;
    background-color: var(--color-alert);
    color: white;
}

.custom-navbar {
    position: fixed;
    left: 0;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 9999;
}

.navbar {
    background-color: var(--color-background);
    box-shadow: 0 6px 6px var(--color-grey);
}

.footer-wrapper {
    background-color: var(--color-disabled);
    height: 400px;
}

.scroll-to-top-wrapper a {
    position: fixed;
    right: 24px;
    bottom: 24px;
    font-size: 48px;
    color: var(--color-alert);
}

a,
a:visited,
a:active,
a:link {
    color: var(--color-primary);
    text-decoration: none;
}

.custom-card {
    margin-top: var(--padding-extra-large);
    background-color: var(--color-background);
    box-shadow: 0 6px 8px var(--color-disabled);
    border-radius: 16px;
    padding-bottom: var(--padding-large);
}

.custom-card-body {
    padding: var(--padding-extra-large);
}

.custom-card-footer {
    padding: var(--padding-small) var(--padding-extra-large);
}

.custom-btn-primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: 600;
}

.custom-btn-outline {
    background-color: var(--color-disabled);
    color: var(--color-secondary);
    font-weight: 600;
}