<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ url_for('home') }}"><span id="top-navigation-app-name"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: var(--color-accent);font-size: 24px;"><i
                class="bi bi-list"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Menu</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Navdeep Sharma
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
                    <a class="dropdown-item" href="{{ url_for('settings') }}">Setting</a>
                    <a class="dropdown-item" href="{{ url_for('help') }}">Help</a>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    document.getElementById("top-navigation-app-name").innerHTML = CONSTANTS.APP_NAME.FULL_NAME;
</script>