{% extends 'layout/layout.htm' %}

{% block title %}
Home
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/utilities/trending-dishes.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/utilities/trending-shops.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/extras/flipdown.css') }}">
<style>
    body {
        padding: 0;
    }
</style>
{% endblock %}

{% block head_scripts %}
<script src="{{ url_for('static', filename='javascript/extras/flipdown.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid home-jumbotron-wrapper">
    <div class="jumbotron-gradient">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title animate__animated animate__backInRight" style="color: white">
                        <div>Legends</div>
                        <div>Foods</div>    
                        <div>Corner</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigate-main-section-wrapper">
            <span>
                <a href="#main">
                    <i class="bi bi-arrow-down-circle-fill" style="color: #fff;"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="container-fluid main-section-wrapper" id="main">
    <div class="container">
        {% include 'utilities/trending-dish/trending-dish.htm' %}

        {% include 'utilities/trending-shop/trending-shops.htm' %}
    </div>
</div>

{% include 'utilities/offer-of-day/offer-of-day.htm' %}

{% endblock %}